@model PersonalFinances.Models.ViewModels.FinanceViewModel

@{
    ViewBag.Title = "Finances";
    Layout = "_Layout";
}

<h2>Finances</h2>

<a asp-action="AddTransaction" class="btn btn-primary my-3">Add Income or Expense</a>

<h3>Income</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model.IncomeTransactions)
    {
        <tr>
            <td>@transaction.Name</td>
            <td>@transaction.Category</td>
            <td>@transaction.AmountEuro.ToString("F2") €</td>
        </tr>
    }
    </tbody>
</table>

<h3>Expenses</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.ExpenseTransactions)
        {
            <tr>
                <td>@transaction.Name</td>
                <td>@transaction.Category</td>
                <td>@transaction.AmountEuro.ToString("F2") €</td>
            </tr>
        }
    </tbody>
</table>
